/* Global */
* {
  font-family: "Lora", serif;
  box-sizing: border-box;
}

body {
  background: #f4f1ff;
  color: #5c4b8c;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  position: relative;
  padding: 4rem 2rem;
}

/* Navigation */
nav {
  background-color: #e6e0f8;
  padding: 0.6rem 1rem;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(134, 115, 182, 0.2);
  margin: 20px auto;
  width: fit-content;
}

nav a {
  color: #7b6fbe;
  font-weight: 600;
  border-radius: 50px;
  padding: 0.5rem 1.2rem;
  text-decoration: none;
  margin: 0 5px;
  transition: 0.3s ease;
}

nav a:hover {
  background-color: #8c7ae6;
  color: white;
  box-shadow: 0 4px 8px rgba(134, 115, 182, 0.4);
}

/* Headings */
h1.signature {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  color: #7b6fbe;
  margin-bottom: 0.2rem;
}

h2 {
  color: #6e63b8;
}

/* Text */
.lead {
  font-size: 1.2rem;
  color: #6e63b8;
  margin-bottom: 1rem;
}

.left-aligned-text {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

.text-center {
  text-align: center;
}

/* Profile Image */
.profile-pic {
  width: 250px;
  height: auto;
  border: 4px solid #a991d4;
  border-radius: 10%;
  margin: 15px 0;
}

/* Lists */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Table */
table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: left;
}

caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Date */
.date-container {
  font-style: italic;
  margin-top: 0.5rem;
  display: inline-block;
}

/* Button */
button {
  padding: 10px 15px;
  background-color: #8c7ae6;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #6e63b8;
}

/* Media */
audio,
video {
  margin-top: 10px;
}